<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.competitiondemo2.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="com.example.competitiondemo2.pojo.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vedio_id" jdbcType="INTEGER" property="vedioId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, vedio_id, article_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from health1..record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from health1..record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.competitiondemo2.pojo.Record">
    insert into health1..record (id, vedio_id, article_id
      )
    values (#{id,jdbcType=INTEGER}, #{vedioId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.competitiondemo2.pojo.Record">
    insert into health1..record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vedioId != null">
        vedio_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vedioId != null">
        #{vedioId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.competitiondemo2.pojo.Record">
    update health1..record
    <set>
      <if test="vedioId != null">
        vedio_id = #{vedioId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.competitiondemo2.pojo.Record">
    update health1..record
    set vedio_id = #{vedioId,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>